@model LoginViewModel

@{
	ViewData["Title"] = "Login";
}

<section class="contact-form">
	<div class="container mt-5">
		<div class="title">Log in to your Account:</div>
		<a class="link" asp-controller="Accounts" asp-action="Register">Don't have an account yet?</a>
		
		<div asp-validation-summary="ModelOnly" class="container mb-4 mt-2 text-danger"></div>
		
		<form method="post" novalidate>

			<div class="form-group">
				<label asp-for="Email"></label>
				<input asp-for="Email" data-val="true" data-val-required="msg" type="text"/>
				<span asp-validation-for="Email" data-valmsg-for="Email"></span>
			</div>

			<div class="form-group">
				<label asp-for="Password"></label>
				<input asp-for="Password" data-val="true" data-val-required="msg" type="password"/>
				<span asp-validation-for="Password" data-valmsg-for="Password"></span>
			</div>

			<button class="btn-theme" type="submit">Log in</button>

		</form>
	</div>
</section>