@model IEnumerable<Product>    

<section class="top-selling">
        <div class="container-fluid">
            <h1 class="collection-title">Top selling products in this week</h1>
            <div class="collection-grid">

            @foreach(var product in Model)
            {
                <a asp-action="Details" asp-controller="Products" asp-route-articleId="@product.ArticleId" class="collection-item">
                    @{
                        if (!string.IsNullOrEmpty(product.ProductImage))
                        {
                            <img src="@($"/images/productImages/{product.ProductImage}")" alt="Product Image" width="270" height="295"/>
                        }
                        else
                        {
                            <img src="images/placeholders/270x295.svg" alt="Product Image" width="270" height="295">
                        }
                    }
                    <div class="body">
                        <div class="title">@product.ProductName</div>
                        <div class="info">
                            <div class="price">@string.Format("{0:C0}", product.Price)</div>
                            <i class="add-cart fa-regular fa-cart-plus"></i>
                        </div>
                    </div>
                </a>
            }

            </div>
            <div class="load-more">
                <button class="btn-outline-white me-1"><i class="fa-solid fa-chevron-left"></i></button>
                <button class="btn-outline-white ms-1"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
        </div>
    </section>